name: Publish jekyll on Pages

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'The working directory where the Jekyll site is located'
        default: docs
        type: string
      publish:
        description: 'Publish the site to GitHub Pages'
        required: true
        default: false
        type: boolean
      publish-branch:
        description: 'The branch to publish the site to - empty use the actions based workflow'
        default: ''
        type: string
      validate-html:
        description: 'Validate the HTML of the site'
        required: false
        default: false
        type: boolean
      validate-html-args:
        description: 'Arguments to pass to html-proofer'
        required: false
        default: ''
        type: string

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build with Jekyll
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory}}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          working-directory: ${{ inputs.working-directory }}
          bundler-cache: true

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Build with Jekyll
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production

      - name: Verify that htmlproofer is available
        if: ${{ inputs.validate-html }}
        run: |
          if ! bundle exec htmlproofer --version; then
            echo "htmlproofer is not available - please add it to your Gemfile with:"
            echo 'gem "html-proofer", "~> 5.0.0"'
            exit 1
          fi

      - name: Verify html with htmlproofer
        if: ${{ inputs.validate-html }}
        run: >-
          bundle exec htmlproofer ./_site
          --swap-urls 'https\://${{ steps.pages.outputs.host }}${{ steps.pages.outputs.base_path }}/:/,^${{ steps.pages.outputs.base_path }}/:/'
          --typhoeus='{"cookiefile":".cookies","cookiejar":".cookies"}'
          --hydra='{"max_concurrency": 1}'
          ${{ inputs.validate-html-args }}

      - name: Upload artifact
        if: ${{ inputs.publish }}
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: "${{ inputs.working-directory }}/_site/"

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    if: ${{ inputs.publish && inputs.publish-branch == '' }}
    concurrency:
      group: pages
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

  deploy-as-branch:
    name: Deploy to GitHub Pages branch
    runs-on: ubuntu-latest
    if: ${{ inputs.publish && inputs.publish-branch != '' }}
    permissions:
      contents: write
    concurrency:
      group: pages
      cancel-in-progress: true
    needs: build
    steps:
      - name: Checkout specific branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ inputs.publish-branch }}

      - name: Fetch artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: github-pages
          path: /tmp/pages/

      - name: Unpack artifact
        run: |
          tar xvf /tmp/pages/artifact.tar
          ls -la

      - name: Commit and push changes to ${{ inputs.publish-branch }} branch
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "Update jekyll site"
          branch: ${{ inputs.publish-branch }}
